body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

h1 {
    font-size: 50px;
    color: #6e6e6e;
    font-weight: bold;

}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 40px;

}

h4 {
    font-size: medium;
    font-weight: 200;
    color: #000000d6;
}

h5 {
    font-size: 30px;
}



.green {
    color: #689F38;
}


p {
    color: #6e6e6e;
}

.bottom {
    text-decoration: none;
    background-image: linear-gradient(rgb(49, 82, 49), rgb(121, 177, 121));
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.flexible-container {
    display: flex;
    margin-top: 10%;
}

.half-width {
    width: 50%;
    margin-left: 50px;


}


.padding {
    padding-right: 50px;
}

.gray {
    color: #6e6e6e;
}

.margin-top {
    margin-top: 50px;
}

.frame-1 {
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.align {
    text-align: center;
    width: auto;
    margin-top: 5%;
}

.adjust img {
    width: 95%;
}

.adjust {
    box-shadow: 0px 0px 20px rgb(194, 190, 190);
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.margin {
    width: 90%;
    margin-top: 0%;
    margin-left: 40px;
}

.box-2 {
    box-shadow: 0px 0px 20px rgb(194, 190, 190);
    gap: 20%;
    border-radius: 20px;
    padding-left: 15%;
    width: 70%;
    margin-left: 95px;
    padding-bottom: 50px;
}

.orange {
    color: orange;
}

.big {
    font-size: 30px;

    font-weight: 600;
}

.center {
    text-align: center;
    margin-top: 7%;
    padding-top: 5px;
    padding-bottom: 100px;
    background-color: rgb(7, 7, 28);
    border: 1px solid rgb(7, 7, 28);
}

.white {
    color: gray;
    padding: 20px;
}